<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
<connectionStrings><add name="MusicalInstrumentShopEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MusicalInstrumentShop.mssql.somee.com;initial catalog=MusicalInstrumentShop;persist security info=True;user id=IvanWas_SQLLogin_2;password=zwmms7af2l;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>